@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div#mainBar {
  height: 100%;
  overflow: hidden;

}
body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.container{
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  background-color: #428bca;
}

.col-xs-9 .col-md-9 .col-lg-9{
  background-color: #eab92d;
}
