
#sideBar {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#headingName{
  color: white;
}

.colorPalet{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.buttonHover: hover{
  background-color: blue;

}

.circle-green
   {
       border: 2px solid white;
       padding: 14px 14px;
       background: green;
       width: 2px;
       border-radius: 100%;
       margin-left: auto;
       margin-right: auto;
       width: 1%;
   }


.circle-red
{
    border: 2px solid white;
    padding: 14px 14px;
    background: #F44336;
    width: 2px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}


.circle-purple
   {
       border: 2px solid white;
       padding: 14px 14px;
       background: #9C27B0;
       width: 2px;
       border-radius: 100%;
       margin-left: auto;
       margin-right: auto;
       width: 1%;
   }

 .circle-blue
    {
        border: 2px solid white;
        padding: 14px 14px;
        background: #2196F3;
        width: 2px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 1%;
    }

.circle-brown
   {
       border: 2px solid white;
       padding: 14px 14px;
       background: brown;
       width: 2px;
       border-radius: 100%;
       margin-left: auto;
       margin-right: auto;
       width: 1%;
   }
